body {
    background-image: url(./background2.jpg);
    background-size: cover;
}
#title {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    display: flex;
    justify-content: center;
    color: aliceblue;
}
#description{

}
header {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    display: flex;
    justify-content: center;
    color: aliceblue;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    display: flex;
    justify-content: center;
    color: aliceblue;
}
.conteudoNasa{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    color: aliceblue;
}
footer {
    display: flex;
    color: aliceblue;
    justify-content: center;
}
.dataeBotao {
    display: flex;
        justify-content: center;
}